@font-face{
  font-family: 'Comfortaa';
  src: url('/font/Comfortaa-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Coda';
  src: url('/font/Coda-Regular.ttf');
}
:root{
--card_background: #DBF1C2;
--data_background: rgba(219, 219, 219, .40);
--defauld_background:  #4CA35F;
--btn_default: #ACDC23;
--bnt_back: #3f510a;
--btn-action: #8eb51d;
}
body {
  margin:0; padding:0;
    background-image: url("greenbackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      font-family: 'Comfortaa', 'sans serif';
    }
.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}
.auth-modal{
  display: flex;
  justify-content: space-around;
  width: 310px;
  height: 310px;
  background-image: linear-gradient(45deg, #1D7E2C, #93C506);
  border-radius: 1.5vw;
  flex-wrap: wrap;
  flex-direction: column;
}    
.login{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #1F44A4;
}
.auth{
  width: 75%;
  background-color: #1F44A4;
}
.auth-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}
.auth-input{
background-color: inherit;
border-radius: 0;
border: none;
border-bottom: 1px solid black;
color: black;
  font-weight: bold;
}
.auth-input::placeholder{
  color: black;
  font-weight: bold;
}
.auth-input:focus{
  outline: none;
}
.auth-input:hover{
  cursor: pointer;
 
}
.auth-header{
  font-size:xx-large;
  text-align: center;
  font-weight: bold;
  color: #1F44A4;
}
.footer{
  display: flex;
  flex-direction: row;
  position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10; 
}

.navbar{
  display: flex;
  height:53px;
  justify-content: space-between;
  padding: 0%;
  background-color: var(--defauld_background); /* Navbar background color */
  color: rgb(0, 0, 0); /* Text color for buttons */
}

.navbar-container{
  height: 53px;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-buttons{
  width: 53vw;
  text-align: center;
}
.active{
  background-image: linear-gradient(to bottom, var(--defauld_background), #D1E020);
}
.nav-item{
  padding: 4px;
  color: inherit;
  width: 33vw; 
  font-size: 30px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.nav-greet{
  margin: 0;
  width: 50%;
  line-height: 1.2;
}
.nav-icon{
  width: 35px;
  padding-left: 10px;

}
 .exit-ico{
  width: 35px;
  padding: 0;
  border: 1px solid black;
  box-shadow: 
        0 2px 4px rgba(0, 0, 0,7);
  border-radius: 4px;

} 

a {  
  text-decoration: none;
  color: black;
}
.button-row{
  margin: 40px 0px 0px 3%;
  display: flex;
  gap: 30px;
  height: 35px;
  font-size: 20px;
}
.button-item{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ACDC23;
}
.button-item:hover{
  filter: brightness(80%);
  transition: filter 0.7s ease; 
}
a:hover{
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Inherit the color from the parent element */
  outline: none; /* Remove outline on hover */
  color: black;
}
.button-ico{
  width: 25px;
  margin-left: 10px;
}
.card-list{
  display: flex; 
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 2%;
  margin-right: 2%;
  gap: 2.5%;
  
}
.card{
  display: flex;
  background-color: #DBF1C2;
  width: 333px;

  padding: 20px 5px 20px 15px;
  border-radius: 5px;

}
.card-contaiber{
  margin-top: 40px;
}
.edit-container{
  position: relative;
display: flex;
align-items: center;
z-index: 24;
margin-bottom: -5%;
  margin-left: 94%;
justify-content: center;
background-color: grey;
width: 32px;
height: 32px;
border-radius: 50%;
}

.edit-icon {  
  width: 25px;
  height: 25px; 
  cursor: pointer;
 
}
.card-attribute{
  font-size: 18px;
  text-align: end;
  padding-right: 10px;
  font-weight: bold;

}
.card-value{
  display: inline-block;
  width: 90%;
  font-size: 16px;
  padding: 0px 0px 5px 5px;
  background-color: var(--data_background);
  border: 1px solid #ccc;
  border-radius: 5px;

}
td{
  padding-bottom: 3%;
  text-wrap:balance;

}
.modal-container{
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 999; /* Ensure modal appears on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  overflow: auto;
}

.modal-content{
  /* font-family: 'Coda', 'sans serif'; */
  position: absolute;
  margin: 0;
  width: 25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card_background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-line {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  justify-content: end;
}
.modal-line-buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#leadForm, #orderForm{
  display: flex;
  flex-wrap: wrap;  
}
input,textarea{
  display: flex;
  background-color: rgba(219, 219, 219, .40);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 3px 0px 0px 5px;
  resize: none;
  overflow: auto;
  font-size: 14px;
  width: 70%;
  min-width: 50%;
  align-items: center;
  
}
textarea{
  height: calc(14px*1.5*3);
}

.btn{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.back{
  background-color: var(--bnt_back);
}
.action{
  background-color: var(--btn-action);
}

label{
  font-weight: bold;
}
.line{
  display: inline-block;
  width: 100%;
  text-wrap: balance;
  word-wrap: break-word;
  height: auto;
  white-space: normal;
}

.extended{
  z-index: 10;
  width: 100%;
}