body {
  margin:0; padding:0;
    background-image: url("greenbackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
.footer{
  display: flex;
  flex-direction: row;
  position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10; 
}

.navbar{
  display: flex;
  height:53px;
  justify-content: space-between;
  padding: 0%;
  background-color: #4CA35F; /* Navbar background color */
  color: rgb(0, 0, 0); /* Text color for buttons */
}

.navbar-container{
  height: 53px;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-buttons{
  width: 53vw;

  text-align: center;
}
.nav-item{
  padding: 4px;
  color: inherit; 
  font-size: 30px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.nav-greet{
  margin: 0;
  width: 50%;
  line-height: 1.2;
}
.nav-icon{
  width: 35px;
  padding-left: 10px;

}
 .exit-ico{
  width: 35px;
  padding: 0;
  border: 1px solid black;
  box-shadow: 
        0 2px 4px rgba(0, 0, 0,7);
  border-radius: 4px;

} 

a {  
  text-decoration: none;
  width: 33%;
  padding: 5px;
  
}

.button-row{
  margin: 40px 0px 0px 3%;
  display: flex;
  gap: 30px;
  height: 35px;
  font-size: 20px;
}
.button-item{
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ACDC23;
  align-items: center;

}
.button-ico{
  width: 25px;
}
.card-list{
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  gap: 2%;
  
}
.card{
  display: flex;
  background-color: #DBF1C2;
  width: 316px;
  padding: 20px 5px 20px 15px;
  margin-top: 40px;
  border-radius: 5px;
}
.card-attribute{
  font-size: 18px;
  text-align: end;
  padding-right: 10px;
  font-weight: bold;

}
.card-value{
  display: inline-block;
  width: 97%;
  font-size: 16px;
  padding: 0px 0px 5px 5px;
  background-color: rgba(219, 219, 219, .40);
  border: 1px solid #ccc;
  border-radius: 5px;

}
td{
  padding-bottom: 10px;
}



