@font-face{
  font-family: 'Comfortaa';
  src: url('/src/font/Comfortaa-VariableFont_wght.ttf');
}
:root{
--card_background: #DBF1C2;
--data_background: rgba(219, 219, 219, .40);
--defauld_background:  #4CA35F;
--btn_default: #ACDC23;
--bnt_back: #3f510a;
--btn-action: #8eb51d;
}
body {
  margin:0; padding:0;
    background-image: url("greenbackground.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      font-family: 'Comfortaa', 'sans serif';
    }
.footer{
  display: flex;
  flex-direction: row;
  position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10; 
}

.navbar{
  display: flex;
  height:53px;
  justify-content: space-between;
  padding: 0%;
  background-color: var(--defauld_background); /* Navbar background color */
  color: rgb(0, 0, 0); /* Text color for buttons */
}

.navbar-container{
  height: 53px;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-buttons{
  width: 53vw;
  text-align: center;
}
.active{
  background-image: linear-gradient(to bottom, var(--defauld_background), #D1E020);
}
.nav-item{
  padding: 4px;
  color: inherit;
  width: 33%; 
  font-size: 30px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.nav-greet{
  margin: 0;
  width: 50%;
  line-height: 1.2;
}
.nav-icon{
  width: 35px;
  padding-left: 10px;

}
 .exit-ico{
  width: 35px;
  padding: 0;
  border: 1px solid black;
  box-shadow: 
        0 2px 4px rgba(0, 0, 0,7);
  border-radius: 4px;

} 

a {  
  text-decoration: none;
  color: black;
}

.button-row{
  margin: 40px 0px 0px 3%;
  display: flex;
  gap: 30px;
  height: 35px;
  font-size: 20px;
}
.button-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ACDC23;
  align-items: center;
}
.button-item:hover{
  filter: brightness(80%);
  transition: filter 0.7s ease; 
}
a:hover{text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Inherit the color from the parent element */
  outline: none; /* Remove outline on hover */
  color: black;
}
.button-ico{
  width: 25px;
}
.card-list{
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  gap: 2%;
  
}
.card{
  display: flex;
  background-color: #DBF1C2;
  width: 333px;
  padding: 20px 5px 20px 15px;
  margin-top: 40px;
  border-radius: 5px;

}
.card-attribute{
  font-size: 18px;
  text-align: end;
  padding-right: 10px;
  font-weight: bold;

}
.card-value{
  display: inline-block;
  width: 90%;
  font-size: 16px;
  padding: 0px 0px 5px 5px;
  background-color: var(--data_background);
  border: 1px solid #ccc;
  border-radius: 5px;

}
td{
  padding-bottom: 10px;
  text-wrap:balance;

}
.modal-container{
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 999; /* Ensure modal appears on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  overflow: auto;
}
.modal-content{
  position: absolute;
  margin: 0;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card_background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-line {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
padding-top: 10px;
}
.modal-line-buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
#leadForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  
}
textarea {
  background-color: rgba(219, 219, 219, 0.692);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding-left: 5px;
  resize: none;
  font-size: 14px;
  word-wrap: break-word;
}
.btn{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.back{
  background-color: var(--bnt_back);
}
.action{
  background-color: var(--btn-action);
}